.chart {
  width: 100%;
  height: 500px;
  /* padding: 20px; */
}
.main {
  width: 100%;
  min-height : 100vh;
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 80%;
  /* column-gap: 10px; */
}

.Detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border: 10px black;
  padding: 20px;
}

.table-cont {
  /* width: 80%; */
  /* padding: 20px; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  /* text-align: left; */
}

.Sidebar {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid red;
  /* border : 10px black; */
  /* margin-right: 10px black; */
  /* background-color: beige; */
}

.ExpenseSect-form {
    /* width: 100%; */
    min-width: 70rem;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}

.ExpenseSect-form button{
    margin-bottom: 20px;
}

.TodaysExp-det{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}